@charset "UTF-8";
@font-face {
        font-family: 'Pokemon';
        src: url(../fonts/pokemon.woff2) format(woff2);
        font-weight: normal;
        font-style: normal;
        font-display: swap;}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0.9em;
    font-family: 'Pokemon', sans-serif;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
}
header a{
    font-size: 2em;
    display: block;
    text-decoration: none;
    margin: 10px auto 30px auto;
    text-align: center;
    font-weight: bolder;
    color: #f8ca0d;
      text-shadow: 
        -3px -3px 0 #326196,
         3px -3px 0 #326196,
        -3px  3px 0 #326196,
         3px  3px 0 #326196,
        -3px  0px 0 #326196,
         3px  0px 0 #326196,
         0px -3px 0 #326196,
         0px  3px 0 #326196;
    }
header a:hover{
    color: red;
    transform: translate(0, -10px);
    transition: 0.4s;
}
body{
    background: black url(../images/background-home-1920x1080.jpg) no-repeat bottom center fixed;
    background-size: cover;
    overflow-x: hidden;
}
main h1{
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.452);
}
h2{
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.452);
}
h3{
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(196, 6, 6, 0.452);
}
h2 img{
    display: inline;
    width: 22px;
    height: 22px;
    margin: 0px 10px;
}
div{
    padding: 0px 10px 10px 10px;
    display: inline-block;
    background-image: url(../images/bordervertical.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 5px 0px;
    height: 231px;
    width: 141px;
}
p{
    display: block;
    text-align: center;
    font-size: 0.85em;
    padding-left: 2px;
}
a{
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(216, 216, 216);
}
div img{
    display: block;
    margin: auto;
}
div img{
    animation: mover 0.3s infinite alternate;
}
@keyframes mover {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-5px, -5px);
    }
}